extends layout

block main
  div.column.alert-container
    div.column.post
      h2 Post an Alert
      p First time posting an alert or need a refresher?
      a(href='https://sfbay.cropmobster.com/how-it-works/#posting-alerts') Watch our video walkthrough!
      br
      if !member
        p You need to be logged in to submit alerts. 
        button(id='login-button3' class='log-button') Please login
      if member
        h3 Hi #{member}!
        div.row
          div.column.step1
            //- img(src='step1.jpg')
            p.green STEP 1
            div.v-line
          h4 Type of alert
            select(required)
              option(value='') Select Alert Type
              option(value='Action') Action
              option(value='Crowdfund') Crowdfund
              option(value='Donation') Donation
              option(value='Event') Event
              option(value='Free') Free
              option(value='Gleaning') Gleaning
              option(value='Impact') Impact
              option(value='Job') Job
              option(value='Land') Land
              option(value='Other') Other
              option(value='Resource') Resource
              option(value='Sale') Sale
              option(value='Sponsor') Sponsor
              option(value='Thanks!') Thanks
              option(value='Urgent') Urgent
              option(value='Wanted') Wanted
  script(src='static/js/postAlert.js')
